.post {
  --bg-color: rgba(252, 182, 182, 0.25);
  --bg-color2: rgba(221, 185, 255, 0.25);

  & > p {
    background: repeating-linear-gradient(
      45deg,
      var(--bg-color),
      var(--bg-color) 15px,
      var(--bg-color2) 0,
      var(--bg-color2) 30px
    );
    color: whitesmoke;
  }
  & > h4 {
    padding-bottom: 0.5px;
  }
}
