.pagetitle {
  color: rgb(243, 0, 0);
}

.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: -1;
}
.Paper {
  --big-horizontal-line-color: rgba(0, 0, 0, 0.3)
  background-image: linear-gradient(var(--big-horizontal-line-color) 4px, transparent 4px),
    linear-gradient(90deg, rgba(54, 192, 0, 0.699) 4px, transparent 4px),
    linear-gradient(rgba(255, 251, 29, 0.3) 2px, transparent 2px),
    linear-gradient(
      90deg,
      rgba(121, 0, 0, 0.1) 2px,
      rgba(46, 130, 255, 0.25) 2px
    );
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -4px -4px, -4px -4px, -2px -2px, -2px -2px;
}
