.pagetitle {
  color: red;
}

:root {
  .bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffe9a7;
    opacity: 0.4;
    z-index: -1;
  }
  .Paper {
    background-image: linear-gradient(#ffc107 4px, transparent 4px),
      linear-gradient(90deg, #ffc107 4px, transparent 4px),
      linear-gradient(#ffc107 2px, transparent 2px),
      linear-gradient(90deg, #ffc107 2px, #ffe9a7 2px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -4px -4px, -4px -4px, -2px -2px, -2px -2px;
  }
}
